/*
light blue: 266DD3
dark blue: 242038
light blue: E7F0FF

very light gray: FAFBFC
light gray: EAECF0
medium light gray: D2D7DF
very dark gray: 353535
*/

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #353535;
}

a {
  text-decoration: none;
}

header {
  border-top: 4px solid #266dd3;
}

.header_left {
  float: left;
  padding: 0 5px;
}

.home_link {
  display: block;
}

.header_logo {
  height: 100px;
  margin: 5px 5px 5px 0;
}

.header_logo_img {
  height: 100%;
}

.header_nav {
  float: right;
}

.nav_bar {
  list-style-type: none;
}

.nav_bar_item {
  float: left;
}

.nav_bar_item_link {
  line-height: 20px;
  padding: 11px 10px 15px 10px;
  display: block;
  color: #353535;
  border-bottom: 4px solid #ffffff;
}

.nav_bar_item_link_active {
  border-bottom: 4px solid #266dd3;
}

.nav_bar_item_link:hover {
  background-color: #266dd3;
  color: hsla(0, 0%, 100%, 0.86);
  border-bottom: 4px solid #266dd3;
}

nav {
  padding-top: 40px;
  clear: both;
}

.social_bar {
  list-style-type: none;
  width: 40%;
  margin: 0 auto;
}

.social_bar_item {
  float: left;
  font-size: 3em;
  width: 25%;
  text-align: center;
}

.social_bar_item_link {
  display: block;
  color: #353535;
}

.social_bar_item_link:hover {
  color: #266dd3;
}

main {
  background-color: #ffffff;
  padding-top: 40px;
  clear: both;
}

.page {
  width: 90%;
  margin: 0 auto;
}

.hero,
.four_o_four {
  width: 60%;
  margin: 50px auto;
  text-align: center;
}

.hero h1 {
  font-size: 6em;
  font-weight: bold;
}

.four_o_four h1 {
  font-size: 4em;
  font-weight: bold;
}

table {
  width: 100%;
}

tr {
  border-top: 1px solid #d2d7df;
}

th {
  text-transform: uppercase;
  text-align: left;
  background-color: #eaecf0;
  padding: 15px 5px;
}

td {
  padding: 15px 5px;
}

tbody tr:hover {
  background-color: #fafbfc;
}

footer {
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 0.75em;
}

.box {
  display: inline-block;
  padding: 15px 60px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  background-color: #fafbfc;
  margin: 10px;
}

.box .title {
  font-size: 1.5em;
  line-height: 1.5;
}

.box .subtitle {
  line-height: 1.5;
}

.box .price {
  font-size: 4em;
  line-height: 2.5;
}

.box .price .discount {
  color: hsla(0, 100%, 50%, 0.81);
}

.box .price .valuta {
  font-size: 0.25em;
  vertical-align: text-top;
  font-weight: 400;
}

.box .price .value {
  font-weight: 300;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .social_bar {
    width: 60%;
  }

  .page {
    width: 100%;
  }

  .hero,
  .four_o_four {
    width: 75%;
    margin: 50px auto;
  }

  .hero h1 {
    font-size: 4em;
  }

  .four_o_four h1 {
    font-size: 3em;
  }

  .header_logo {
    height: 75px;
  }
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 12px;
  }

  .social_bar {
    width: 80%;
  }

  .social_bar_item {
    font-size: 2em;
  }

  .nav_bar_item_link {
    padding: 11px 8px 15px 8px;
  }
  
  .page {
    width: 100%;
  }

  .hero,
  .four_o_four {
    width: 75%;
    margin: 50px auto;
  }

  .hero h1 {
    font-size: 4em;
  }

  .four_o_four h1 {
    font-size: 3em;
  }

  .header_logo {
    height: 30px;
  }

  .box_container {
    text-align: center;
  }
}
